.home-container {
    width: 100%;
    height: 100%;
}

.home-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.home-sidenav {
    padding: 20px;
}
